/* Small Screen */
.container {
  margin: 1rem;
}

.addmovie {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.addmovie__left {
  margin-bottom: 1rem;
}

.addmovie__title {
  color: #4361ee;
  margin-bottom: 1rem;
  font-size: 2.44rem;
}

.addmovie__genre {
  color: #b5179e;
  margin-bottom: 1rem;
  font-size: 1.59rem;
}

.addmovie__description {
  color: #64748b;
  margin-bottom: 1rem;
}

.addmovie__button {
  padding: 0.5rem 4rem;
  border: none;
  border-radius: 5px;
  background-color: #4361ee;
  color: #fff;
}

.addmovie__image {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

/* Medium Screen */
@media (min-width: 768px) {
  /*
   * Nothing TODO Here.
   * We dont change style addmovie. 
   */
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }

  .addmovie {
    margin: 0 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .addmovie__left {
    flex-basis: 40%;
  }

  .addmovie__right {
    flex-basis: 60%;
  }
}
